html,
body {
    height: 100%;
}

body {
    background: #000000;
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
}

.background img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.3);
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.content {
    min-height: 100%;
    width: 100%;
    padding: 2rem 2rem 4rem 2rem;

    @media (min-width: 768px) {
        padding: 2rem 4rem 4rem 4rem;
    }
}

.container {
    min-height: 100%;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 1rem 2rem;

    @media (min-width: 768px) {
        padding: 2rem 4rem;
    }

    h1,
    h2 {
        margin-top: 2rem;
    }
}

.footer {
    z-index: 100;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #000000;
    color: #fff;
    font-size: 12px;
    padding: 10px 0;
}

.back {
    display: inline-block;
    text-decoration: none;

    &:visited {
        color: #000;
    }

    &:hover {
        text-decoration: underline;
    }
}
